* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
   }

   .navbar{
    height: 70vh;
    width: 100%;
    background-image: url(https://aksellll-gif.github.io/gym-management/img/bg.png);
   background-size: cover ;
   background-position: top;
   overflow: hidden;
   
  }
 
    nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

nav.sticky {
  background-color: rgb(0, 0, 0);
  box-shadow:
    2.1px 18.7px 17.3px -22px rgba(0, 0, 0, 0.076),
    2.6px 22.9px 21.6px -22px rgba(0, 0, 0, 0.117),
    2.9px 25.7px 24.5px -22px rgba(0, 0, 0, 0.144),
    3.2px 28.6px 27.1px -22px rgba(0, 0, 0, 0.166),
    3.7px 32.7px 30.2px -22px rgba(0, 0, 0, 0.185),
    4.4px 39.1px 34.6px -22px rgba(0, 0, 0, 0.207),
    5.7px 50.7px 42.2px -22px rgba(0, 0, 0, 0.237),
    10px 89px 69px -22px rgba(0, 0, 0, 0.31);
}

h2 {
  color: rgb(255, 251, 251);
}

a,
span,
h2 {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.img {
  height: 60px;
  width: auto;
}

span {
  color: #f9004d;
}


.nav-links {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.6s;
}

nav ul li::after {
  content: "";
  position: absolute;
  background-color: rgb(190, 68, 68);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

.btn {
  background-color: transparent;
  color: #a34225;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn:hover {
  background-color: #247881;
  color: white;
  box-shadow: 0 0 5px #247881, 0 0 25px #247881,
    0 0 50px #247881, 0 0 200px #247881;
}

.burger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.text{ 
    padding-top: 250px;
    position: relative;
    
    
   
}
 h1{
    color: white;
     font-family: "Open Sans", sans-serif;
    text-align: center; 
   font-size: 70px;
   font-weight: 800;
   animation: slide-down 1s;
   
  
}
.undereqp{
    width: 100px;
    height: 5px;
    background-color: #a34225;
    margin: 0 auto; 
}
.line{
    background-color: #a34225;
    height: 10px;
}






.sec {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://aksellll-gif.github.io/gym-management/img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.allpic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 20px;
  padding-top: 250px; 
  gap: 30px;
 
}

.pic {
  background-color: #ffffffd0;
  width: 300px;
  max-width: 90vw;
  height: auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  padding: 20px 15px;
  transform: translateY(60%);
}

.pic img {
  max-width: 100%;
  height: auto;
}

.pic.show-animate {
  transform: translateY(0);
}

.pic h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #000000;
}

.pic h3 {
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #a34225;
}

.pic p {
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}


.pic:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 2;
}

    
.fline {
  height: 5vh;
  background-color: #d8d5d5;
  box-shadow:
    0px 0px 2.9px -5px rgba(0, 0, 0, 0.084),
    0px 0px 6.8px -5px rgba(0, 0, 0, 0.121),
    0px 0px 12.9px -5px rgba(0, 0, 0, 0.15),
    0px 0px 23px -5px rgba(0, 0, 0, 0.179),
    0px 0px 43px -5px rgba(0, 0, 0, 0.216),
    0px 0px 103px -5px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.fspan {
  color: rgb(206, 73, 73);
}

.fline i {
  margin-right: 5px;
  font-size: 15px;



}

.fline h3 {

  font-size: 20px;
  font-weight: 900;
}

.flinebtm {
  height: 5px;
  background-color: rgb(206, 73, 73);
}

footer {
  background-image: url("https://aksellll-gif.github.io/gym-management/img/mma.png");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 0;
}

.fline {
  text-align: center;
  padding: 15px 0;
  background: #e5e5e5;
  color: #000;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.fspan {
  color: #c62828;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.foot .icon {
  color: #000000;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.foot .icon:hover {
  color: #fff;
  background: #800000;
  transform: scale(1.2);
}


.foot .icon:nth-child(1):hover {
  background: #425ae2;
}

.foot .icon:nth-child(2):hover {
  background: linear-gradient(45deg, #f09433, #bc1888);
}

.foot .icon:nth-child(3):hover {
  background: #68aefd;
}

.foot .icon:nth-child(4):hover {
  background: #ff0000;
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}


.privacy {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: rgb(206, 73, 73);
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}


.hrfoot {
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hrfoot hr {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #cccccc3b;
  margin-bottom: 15px;
}

.footerbottom {
  color: #ffffff86;
  font-size: 14px;
  padding-top: 20px;
}

footer .hrfoot hr {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.footerb {
  color: rgba(206, 73, 73, 0.9);
}
/*JOIN US */

@keyframes popUp {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation: popUp 0.3s ease forwards; 
    backdrop-filter: blur(8px); 
   font-family: "Montserrat", sans-serif;
   background-color: rgba(0, 0, 0, 0.6);
   
  }
  
  .modal-content {
    background-color: #fefefea4;
    margin-top: 10%; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 5px;
    height: 640px;
    text-align: center; 
    
    
  }
  
  .close {
    color: #0a0505;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(219, 84, 84);
    text-decoration: none;
    cursor: pointer;
  }
  .name{
    display: flex;
    text-align: center; 
    
  }
  .pass{
    display: flex;
    text-align: center; 
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 20px;
    box-shadow:
      2.1px 18.7px 17.3px -22px rgba(0, 0, 0, 0.076),
      2.6px 22.9px 21.6px -22px rgba(0, 0, 0, 0.117),
      2.9px 25.7px 24.5px -22px rgba(0, 0, 0, 0.144),
      3.2px 28.6px 27.1px -22px rgba(0, 0, 0, 0.166),
      3.7px 32.7px 30.2px -22px rgba(0, 0, 0, 0.185),
      4.4px 39.1px 34.6px -22px rgba(0, 0, 0, 0.207),
      5.7px 50.7px 42.2px -22px rgba(0, 0, 0, 0.237),
      10px 89px 69px -22px rgba(0, 0, 0, 0.31);
     color: #000000;
     font-weight: bold;

  }
  input[type="text"]::placeholder,
 input[type="number"]::placeholder,
 input[type="email"]::placeholder,
 input[type="password"]::placeholder {
    font-weight: normal; 
    color: #999; 
}
  button[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;;
    background-color: #c55656;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
    box-shadow:
      2.1px 18.7px 17.3px -22px rgba(0, 0, 0, 0.076),
      2.6px 22.9px 21.6px -22px rgba(0, 0, 0, 0.117),
      2.9px 25.7px 24.5px -22px rgba(0, 0, 0, 0.144),
      3.2px 28.6px 27.1px -22px rgba(0, 0, 0, 0.166),
      3.7px 32.7px 30.2px -22px rgba(0, 0, 0, 0.185),
      4.4px 39.1px 34.6px -22px rgba(0, 0, 0, 0.207),
      5.7px 50.7px 42.2px -22px rgba(0, 0, 0, 0.237),
      10px 89px 69px -22px rgba(0, 0, 0, 0.31);
    
  }
  button[type="submit"]:hover {
    background-color: #a04545;
    color: #000000;
  }
  .form-logo {
    width: 100px; 
    height: auto; 
    
  }
  .form-hf{
    font-weight: 800; 
    padding-bottom: 3%;
    text-shadow: 
     0px 3px 4px rgba(0, 0, 0, 0.7), 
      0px 3px 4px rgba(0, 0, 0, 0.7),   
      0px 3px 4px rgba(0, 0, 0, 0.7);
  
  }
@media (max-width: 480px) {
  .pic {
    width: 95%;
  }

  .pic:hover {
    transform: scale(1.02);
  }
}
 

  @media (max-width: 900px) {
    .allpic {
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      padding-left: 0;
      padding-right: 0;
    }
    .pic {
      width: 90vw;
      margin: 20px 0;
      height: auto;
      min-height: 250px;
      padding-top: 20px;
    }
    .foot .icon {
      left: 0;
      bottom: 30px;
    }
    .contact {
      right: 0;
      font-size: 16px;
    }
  }

@media (max-width: 768px) {
  .logo-container h2 {
    display: none;
  }
  .contact{
    flex-direction: column;
  }
  pic {
    width: 90%; 
  }
    .name, .pass {
    flex-direction: column;
    text-align: center;
  }

  .name input, .pass input {
    min-width: 100%;
  }

  .modal-content {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  button[type="submit"] {
    font-size: 20px;
    padding: 12px;
  }
}
@media (max-width: 992px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    display: flex;
    justify-content: center;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
  }

  .nav-links.active {
    max-height: 400px;
  }

  .burger {
    display: block;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }


  .btn {
    font-size: 14px;
    padding: 12px 20px;
    letter-spacing: 1px;
  }
 .allpic {
    padding-top: 150px;
    gap: 20px;
  }

  .pic {
    width: 80%;
    transform: none;
  }
} 
@media (max-width: 1024px) {
  .allpic {
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .pic {
    width: 80%;
    transform: none;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .logo-container h2 {
    display: none;
  }
}
 @media (max-width: 1200px) {
    .allpic {
      padding-left: 30px;
      padding-right: 30px;
    }
    .foot .icon {
      left: 100px;
    }
  }
  @media (max-width: 1024px) and (min-width: 769px) {
  .pic {
    width: 45%; 
  }
}